<strong>Password reset request</strong>

<p>
  Hi <strong>{{username}}</strong>, forgot your password?

  Click <a href="{{ link }}">here</a> if you want to change your password, or insert this token {{ token }} manually.

  If you didn't make this request, ignore this email.
</p>
